/* CSS HEX */
/* --burnt-sienna: #e9703dff;
--rich-black: #0c1c23ff;
--eerie-black: #252827ff;
--black-olive: #3c3d3a;
--dark-slate-gray: (#175655ff); */


body {
    display: grid;
    grid-template-columns: 25px auto 25px;
    grid-template-rows: 25px auto 35%;
}



.whole-card {
    display: grid;
    grid-template-columns: 25px auto 25px;
    grid-template-rows: 1fr 1fr 25px;
    grid-column: 2 / 3;
    grid-row: 2;
    border: 3px solid black;
    border-radius: 25px;
    background-color: #646881ff;
    font-size: large;
    color: whitesmoke;
}

.logo-pic {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #3c3d3aff;
}


.info-block {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: center;
    text-align: center;
}

h2 {
    font: small-caps 500 24px /2 monospace;
}

